* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  
  width: 100vw;
  height: 100vh;

  color: white;
  background: linear-gradient(135deg, rgb(160, 28, 52) 30%, rgb(84, 30, 91) 70%);

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 50vw;
  height: 50vh;
  font-size: 1.5rem;
}

table,
td,
th,
tr {
  border: 1px solid coral;
}

/* https://swapi.dev/api/people/1/
https://swapi.dev/api/planets/1/ */